.sobre-container {
    max-width: 800px;
    margin: 100px auto 0 auto; /* centraliza e desce do header */
    padding: 30px;

    background: white;
    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.sobre-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
}

.sobre-container p {
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
}