body{
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

#formulario{
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 320px;

    box-shadow: 0 10 25px rgba(0,0,0,0.2);
}

.titulo{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 40px;
    font-weight: bold;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}

button{
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: rgb(66, 78, 243);
    color: white;
}

button:hover{
    background: rgb(160, 160, 160);
    color: black;
}

.erro{
    font-family: Arial, sans-serif;
}