/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background-color: rgb(241, 241, 241);
}

/* CONTAINER CENTRAL */
.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.box {
    margin: auto;
    width: 100%;
    max-width: 400px;
}

.box h1 {
    text-align: center;
    margin-bottom: 20px;
}


/* FORM */
form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;

    width: 100%;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* LABEL */
form label {
    font-weight: bold;
    font-size: 14px;
    display: block;
    text-align: left;
}

/* INPUT */
form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

/* FOCO */
form input:focus {
    outline: none;
    border-color: #FFD166;
}

/* ERRO */
form p {
    margin-bottom: 10px;
    font-size: 12px;
    color: red;
    text-align: left;
}

/* BOTÃO */
form button {
    width: 100%;
    padding: 12px;

    background-color: #FFD166;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    font-weight: bold;

    transition: 0.2s;
}

form button:hover {
    background-color: #e6b84f;
}

/* VOLTAR */
#voltar {
    margin-top: 15px;

    padding: 10px 20px;

    background-color: transparent;
    border: 2px solid #FFD166;
    border-radius: 5px;

    cursor: pointer;
    font-weight: bold;

    transition: 0.2s;
}

#voltar:hover {
    background-color: #FFD166;
}


@media (max-width: 600px) {

    .box {
        padding: 0 15px;
    }

    form {
        padding: 20px;
    }

    form input {
        padding: 12px;
        font-size: 16px;
    }

    form button {
        padding: 14px;
        font-size: 16px;
    }
    .box h1 {
        font-size: 22px;
    }

    #voltar {
        width: 100%;
    }
}