<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Snapshop</title>
    <link rel="stylesheet" href="/front/style/indexCadastroLoja.css">
</head>
<body>

    <h1>Cadastro</h1>

    <form id="formulario">

        <label>Nome:</label><br>
        <input type="text" id="nome">
        <p id="erro-nome" style="color:red;"></p>

        <label>Email:</label><br>
        <input type="text" id="email">
        <p id="erro-email" style="color:red;"></p>

        <label>Senha:</label><br>
        <input type="password" id="senha">
        <p id="erro-senha" style="color:red;"></p>

        <label>Confirmar Senha:</label><br>
        <input type="password" id="confirmarSenha">
        <p id="erro-confirmar-senha" style="color:red;"></p>
            
        <label>Data de Nascimento:</label><br>
        <input type="date" id="dataNascimento">
        <p id="erro-data" style="color:red;"></p>

        <label>CNPJ:</label><br>
        <input type="text" id="cnpj">
        <p id="erro-cnpj" style="color:red;"></p>
            
        <label>Logradouro (Endereço):</label><br>
        <input type="text" id="logradouro">
        <p id="erro-logradouro" style="color:red;"></p>
            
        <label>CEP:</label><br>
        <input type="text" id="cep">
        <p id="erro-cep" style="color:red;"></p>
            
        <label>Telefone:</label><br>
        <input type="text" id="telefone">
        <p id="erro-telefone" style="color:red;"></p>

        <button type="submit">Cadastrar</button>
    </form>

    <br>
    <button id="voltar">Voltar</button>

    <script src="/front/script/cadastroLoja.js"></script>
</body>
</html>