<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Loja</title>
    <link rel="stylesheet" href="/front/style/cadastroStyle.css">
</head>
<body>

    <main class="container">
        <div class="box">

            <h1>Comece sua loja</h1>

            <form id="formulario" method="POST" action="/CriarLoja">

                <label for="nomeLoja">Nome da Loja:</label>
                <input type="text" id="nomeLoja" name="NomeLoja">
                <p id="erro-nomeLoja"></p>

                <label for="emailLoja">Email da Loja:</label>
                <input type="text" id="emailLoja" name="EmailLoja">
                <p id="erro-emailLoja"></p>

                <label for="cnpj">CNPJ:</label>
                <input type="text" id="cnpj" name="CNPJ">
                <p id="erro-cnpj"></p>
                    
                <label for="logradouro">Logradouro (Endereço):</label>
                <input type="text" id="logradouro" name="Logradouro">
                <p id="erro-logradouro"></p>
                    
                <label for="cep">CEP:</label>
                <input type="text" id="cep" name="CEP">
                <p id="erro-cep"></p>
                    
                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="Telefone">
                <p id="erro-telefone"></p>

                <button type="submit">Cadastrar</button>
            </form>

            <a href="/perfil">
                <button id="voltar" type="button">Voltar</button>
            </a>

        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/Cadastro/cadastroLoja.js"></script>
</body>
</html>