<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Loja</title>
    <link rel="stylesheet" href="/front/style/indexCadastroLoja.css">
</head>
<body>

    <main class="container">
        <div class="box">

            <h1>Cadastro</h1>

            <form id="formulario">

                <label>Nome da Loja:</label>
                <input type="text" id="nomeLoja">
                <p id="erro-nomeLoja"></p>

                <label>Email da Loja:</label>
                <input type="text" id="emailLoja">
                <p id="erro-emailLoja"></p>

                <label>CNPJ:</label>
                <input type="text" id="cnpj">
                <p id="erro-cnpj"></p>
                    
                <label>Logradouro (Endereço):</label>
                <input type="text" id="logradouro">
                <p id="erro-logradouro"></p>
                    
                <label>CEP:</label>
                <input type="text" id="cep">
                <p id="erro-cep"></p>
                    
                <label>Telefone:</label>
                <input type="text" id="telefone">
                <p id="erro-telefone"></p>

                <button type="submit">Cadastrar</button>
            </form>

            <button id="voltar">Voltar</button>

        </div>
    </main>

    <script src="/front/script/cadastroLoja.js"></script>

</body>
</html>