<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="/front/style/headerStyle.css">
    <link rel="stylesheet" href="/front/style/sobreStyle.css">
    <style>
                :root{
            --primaria: #FFD166;
            --hover: #e6b84f;
            --herobtn: #494949;
            --herohover: #292929;
            --fundo: #FFF8E7;
        }
    </style>
</head>
<body>

    {% include 'headerFooter/header.html' %}

    <main>
        <section class="sobre-container">
            <h1>Sobre o SnapShop</h1>

            <p>
                O <strong>SnapShop</strong> é uma plataforma desenvolvida para simplificar a criação e o gerenciamento de lojas virtuais. Seu principal objetivo é oferecer aos lojistas uma solução prática e eficiente, permitindo que criem suas próprias lojas online de forma intuitiva, com total liberdade para personalizar a identidade visual de sua marca.
            </p>

            <p>
                A plataforma centraliza todas as ferramentas necessárias em um único ambiente, facilitando a organização e o controle do negócio. Com o SnapShop, é possível estruturar e gerenciar lojas, cadastrar e administrar produtos, além de intermediar de forma segura o processo de compra e venda.
            </p>

            <p>
                Mais do que um sistema, o SnapShop busca proporcionar autonomia aos usuários, incentivando a construção de marcas únicas e fortalecendo a presença digital de cada lojista.
            </p>
</section>
    
</body>
</html>