<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="/front/style/headerStyle.css">
    <link rel="stylesheet" href="/front/style/sobreStyle.css">
    <style>
                :root{
            --primaria: #FFD166;
            --hover: #e6b84f;
            --herobtn: #494949;
            --herohover: #292929;
            --fundo: #FFF8E7;
        }
    </style>
</head>
<body>

    {% include 'headerFooter/header.html' %}

    <main>
        <section class="sobre-container">
            <h1>Sobre a 
                    <span class="snap">Snap</span><span class="shop" style="background-color: #CCA752;">shop</span>
            </h1>

            <p>
                A <strong>SnapShop</strong> é uma plataforma focada em simplificar a criação de lojas virtuais. Oferecemos autonomia para que lojistas estruturem seus negócios online com identidade visual própria e gerenciamento intuitivo.
            </p>

            <h2>Nossos Objetivos</h2>
            <table class="objetivos-table">
                <thead>
                    <tr>
                        <th>Objetivo</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Autonomia Digital</strong></td>
                        <td>Permitir que qualquer empreendedor crie e gerencie sua própria vitrine online sem complicações técnicas.</td>
                    </tr>
                    <tr>
                        <td><strong>Personalização Centralizada</strong></td>
                        <td>Oferecer ferramentas para que a marca do lojista seja única, mantendo o controle de estoque e vendas em um só lugar.</td>
                    </tr>
                    <tr>
                        <td><strong>Segurança nas Transações</strong></td>
                        <td>Garantir um ambiente confiável para a intermediação de compra e venda entre lojistas e clientes.</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>Nossos Desenvolvedores</h2>
                <ul class="dev-list">
                    <li class="dev-item">Cassiano Magno Chagas</li>
                    <li class="dev-item">Edgar Felipe Polswut</li>
                    <li class="dev-item">Gustavo Jaques Damiani</li>
                    <li class="dev-item">João Pedro da Cunha Silva</li>
                    <li class="dev-item">Pedro Henrique Schneider Fagundes de Oliveira</li>
                </ul>
        </section>
    </main>
</body>
</html>